backtrader==1.9.78.123
bleach==6.0.0
certifi==2023.5.7
charset-normalizer==3.1.0
contourpy==1.1.0
cycler==0.11.0
docutils==0.20.1
fonttools==4.40.0
idna==3.4
importlib-metadata==6.7.0
importlib-resources==5.12.0
jaraco.classes==3.2.3
keyring==24.2.0
kiwisolver==1.4.4
lib==4.0.0
markdown-it-py==3.0.0
matplot==0.1.9
matplotlib==3.7.1
mdurl==0.1.2
more-itertools==9.1.0
numpy==1.25.0
packaging==23.1
pandas==2.0.2
Pillow==9.5.0
pkginfo==1.9.6
Pygments==2.15.1
pyloco==0.0.139
pyparsing==3.1.0
python-dateutil==2.8.2
pytz==2023.3
pywin32-ctypes==0.2.1
readme-renderer==40.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.4.2
SimpleWebSocketServer==0.1.2
six==1.16.0
twine==4.0.2
typing==3.7.4.3
tzdata==2023.3
urllib3==2.0.3
ushlex==0.99.1
webencodings==0.5.1
websocket-client==1.6.1
zipp==3.15.0
